/*
/*/
!/site/
!README.md
!CHANGELOG.md
!LICENSE
!.gitignore
/site/assets/*/*
/site/templates/bower_components/*
/site/templates/Session.vim
/site/templates/*.swp
/site/modules/*
/site/config.php
/site/templates/node_modules/*
/site/templates/dist/*
!/site/templates/dist/pa-profile.zip
