/*
@import url("site/templates/bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("site/templates/styles/main.css");
*/

table {
  width: 100%;
  border: 2px solid #000;
  font-size: 12px;
  border-collapse: collapse;
}
table th {
  border: 1px solid #000;
  background-color: #B6B6B4;
}
table tr {
}
table td {
  border: 1px solid #000;
  text-align: center;
  padding: 5px;
}
span.text-left {
  text-align: left;
}
span {
  margin: 0px 5px;
}
span.label {
  border: 1px solid #000;
}
span.label-success {
  background-color: #5CB85C;
}
span.label-danger {
  background-color: #FF000; /*#D9534F;*/
}
span.label-info {
  background-color: #5BC0DE;
}

table.miniTable {
  float: right;
  width: 350px;
  font-size: 9px;
  margin: 20px;
  border: 0px;
}
table.miniTable td {
  border: 1px solid #000;
}
table.miniTable td.empty {
  border: 0;
}

